<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
div.scrollmenu {
  background-color: #e3d8d8;
  overflow: auto;
  white-space: nowrap;
}

div.scrollmenu a {
  display: inline-block;
  color: rgb(202, 35, 35);
  text-align: center;
  padding: 100px;
  
  text-decoration: none;
}

div.scrollmenu a:hover {
  background-color: #c3b710;
}
</style>
</head>
<body>

<div class="scrollmenu">
  <a href="">Home</a<link rel="stylesheet" type="text/css" href="3drightbutton.html">

  <a href="/view2">1st chapter</a>
  <a href="#">2nd chapter</a>
  <a href="#">3rd chapter</a>
  <a href="#">4th chapter</a>
  <a href="#">5th chapter</a>
  <a href="#">Tools</a>  
 
 
</div>



</body>
</html>